<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Visita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form [formGroup]="myform">
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label>Fecha:</ion-label>
              <ion-input formControlName="Fecha" type="date" placeholder="Selecciona Fecha"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Hora de Entrada:</ion-label>
              <ion-input formControlName="Hora_Entrada" type="time" placeholder="Selecciona Hora de Entrada"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Hora de Salida:</ion-label>
              <ion-input formControlName="Hora_Salida" type="time" placeholder="Selecciona Hora de Salida"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Estacion</ion-label>
              <ion-select placeholder="Estacion" formControlName="Estacion">
                <ion-select-option value="Principal">Principal</ion-select-option>
                <ion-select-option value="Coto Praderas">Coto Praderas</ion-select-option>
                <ion-select-option value="Coto Montaña">Coto Montaña</ion-select-option>
                <ion-select-option value="Coto Llanos">Coto Llanos</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input formControlName="Matricula" type="text" placeholder="Matricula Vehiculo"></ion-input>
            </ion-item> 
            <ion-item>
              <ion-input formControlName="Direccion" type="text" placeholder="Direccion a la que va"></ion-input>
            </ion-item> 
            <ion-item>
              <ion-input formControlName="Motivo_visita" type="text" placeholder="Motivo de la visita"></ion-input>
            </ion-item> 
          </div>
          <div>
            <ion-button type="button" [disabled]="!myform.valid" (click)="create()" expand="block">Guardar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
    <div>
      <ion-button expand="block" (click)="onHome()">Salir</ion-button>
    </div>
</ion-content>
